---
import Hero from "../../components/Hero.astro";
import ReferenceCard from "../../components/ReferenceCard.astro";
import Layout from "../../layouts/Layout.astro";
import Divider from "../../components/ui/Divider.astro";
import { t, changeLanguage } from "i18next";
import { reference } from "astro:content";

changeLanguage("sk");

const referenceData = [
    {
        id: 1,
        title: "Am Tacheles",
        year: "2022",
        city: "Berlin",
        slug: "am-tacheles",
        category: t("referencie.info.category1"),
        img: "/AM-Tacheles/AM-Tacheles-1.jpg",
        images: [
            "/AM-Tacheles/AM-Tacheles-1.jpg",
            "/AM-Tacheles/AM-Tacheles-2.jpg",
            "/AM-Tacheles/AM-Tacheles-3.jpg",
            "/AM-Tacheles/AM-Tacheles-4.jpg",
            "/AM-Tacheles/AM-Tacheles-5.jpg",
            "/AM-Tacheles/AM-Tacheles-6.jpg",
        ],
    },
    {
        id: 2,
        title: "Mercator One",
        year: "2016",
        city: "Duisburg",
        slug: "mercator-one",
        category: t("referencie.info.category1"),
        img: "/Mercator One/Mercator One 1.jpg",
        images: [
            "/Mercator One/Mercator One 1.jpg",
            "/Mercator One/Mercator One 2.jpg",
            "/Mercator One/Mercator One 3.jpg",
        ],
    },
    {
        id: 3,
        title: "Hotel H2",
        year: "2016",
        city: "Leipzig",
        slug: "hotel-h2",
        category: t("referencie.info.category1"),
        img: "/Hotel H2 Hyperion/Hotel H2 Hyperion 1.jpg",
        images: [
            "/Hotel H2 Hyperion/Hotel H2 Hyperion 1.jpg",
            "/Hotel H2 Hyperion/Hotel H2 Hyperion 2.jpg",
            "/Hotel H2 Hyperion/Hotel H2 Hyperion 3.jpg",
            "/Hotel H2 Hyperion/Hotel H2 Hyperion 4.jpg",
            "/Hotel H2 Hyperion/Hotel H2 Hyperion 5.jpg",
        ],
    },
    {
        id: 4,
        title: "AW Institut",
        year: "2018",
        city: "Rostrock",
        slug: "institut-alfred-wegener",
        category: t("referencie.info.category1"),
        img: "/Alfred Wegener Institute/Alfred Wegener Institute 1.jpg",
        images: [
            "/Alfred Wegener Institute/Alfred Wegener Institute 1.jpg",
            "/Alfred Wegener Institute/Alfred Wegener Institute 2.jpg",
            "/Alfred Wegener Institute/Alfred Wegener Institute 3.jpg",
        ],
    },
    {
        id: 5,
        title: "Labor Wisplinghoff",
        year: "2022",
        city: "Leipzig",
        slug: "labor-wisplinghoff",
        category: t("referencie.info.category1"),
        img: "/Labor Wisplinghoff/Labor Wisplinghoff 1.jpg",
        images: [
            "/Labor Wisplinghoff/Labor Wisplinghoff 1.jpg",
            "/Labor Wisplinghoff/Labor Wisplinghoff 2.jpg",
            "/Labor Wisplinghoff/Labor Wisplinghoff 3.jpg",
            "/Labor Wisplinghoff/Labor Wisplinghoff 4.jpg",
        ],
    },
    {
        id: 6,
        title: "Mannheim Turley Barracks",
        year: "2021",
        city: "K\u00F6ln",
        slug: "mannheim-turley-barracks",
        category: t("referencie.info.category1"),
        img: "/Mannheim Turley Barracks/Mannheim Turley Barracks 2.jpg",
        images: [
            "/Mannheim Turley Barracks/Mannheim Turley Barracks 1.jpg",
            "/Mannheim Turley Barracks/Mannheim Turley Barracks 2.jpg",
            "/Mannheim Turley Barracks/Mannheim Turley Barracks 3.jpg",
        ],
    },
    {
        id: 7,
        title: "Neue Mitte Altona",
        year: "2018",
        city: "Potsdam",
        slug: "awi-institut",
        category: t("referencie.info.category1"),
        img: "/Neue Mitte Altona/Neue Mitte Altona 1.jpg",
        images: [
            "/Neue Mitte Altona/Neue Mitte Altona 1.jpg",
            "/Neue Mitte Altona/Neue Mitte Altona 2.jpg",
            "/Neue Mitte Altona/Neue Mitte Altona 3.jpg",
            "/Neue Mitte Altona/Neue Mitte Altona 4.jpg",
        ],
    },
    {
        id: 8,
        title: "VGP Komplex",
        year: "2020",
        city: "Berlin",
        slug: "vgp-komplex",
        category: t("referencie.info.category1"),
        img: "/Berlin VGP Komplex/Berlin VGP Komplex 1.jpg",
        images: [
            "/Berlin VGP Komplex/Berlin VGP Komplex 1.jpg",
            "/Berlin VGP Komplex/Berlin VGP Komplex 2.jpg",
            "/Berlin VGP Komplex/Berlin VGP Komplex 3.jpg",
            "/Berlin VGP Komplex/Berlin VGP Komplex 4.jpg",
        ],
    },
    {
        id: 9,
        title: "Reinbek Schulzentrum",
        year: "2020",
        city: "Berlin",
        slug: "reinbek",
        category: t("referencie.info.category1"),
        img: "/Schulzentrum Reinbek/Schulzentrum Reinbek 1.jpg",
        images: [
            "/Schulzentrum Reinbek/Schulzentrum Reinbek 1.jpg",
            "/Schulzentrum Reinbek/Schulzentrum Reinbek 2.jpg",
            "/Schulzentrum Reinbek/Schulzentrum Reinbek 3.jpg",
            "/Schulzentrum Reinbek/Schulzentrum Reinbek 4.jpg",
            "/Schulzentrum Reinbek/Schulzentrum Reinbek 5.jpg",
        ],
    },
    {
        id: 10,
        title: "Technologiekreis Adlershof",
        year: "2020",
        city: "Berlin",
        slug: "technologiekreis-adlershof",
        category: t("referencie.info.category1"),
        img: "/Technologiekreis Adlershof/Technologiekreis Adlershof 1.jpg",
        images: [
            "/Technologiekreis Adlershof/Technologiekreis Adlershof 1.jpg",
            "/Technologiekreis Adlershof/Technologiekreis Adlershof 2.jpg",
            "/Technologiekreis Adlershof/Technologiekreis Adlershof 3.jpg",
        ],
    },
    {
        id: 11,
        title: "UKSH Universitatsklinikum",
        year: "2020",
        city: "Berlin",
        slug: "uksh-universitatsklinikum",
        category: t("referencie.info.category1"),
        img: "/UKSH Universitatsklinikum Schleswig-Holstein/UKSH Universitatsklinikum Schleswig-Holstein 1.jpg",
        images: [
            "/UKSH Universitatsklinikum Schleswig-Holstein/UKSH Universitatsklinikum Schleswig-Holstein 1.jpg",
            "/UKSH Universitatsklinikum Schleswig-Holstein/UKSH Universitatsklinikum Schleswig-Holstein 2.jpg",
        ],
    },
    {
        id: 12,
        title: "Universitat Siegen",
        year: "2020",
        city: "Berlin",
        slug: "universitat-siegen",
        category: t("referencie.info.category1"),
        img: "/Universitat Siegen/Universitat Siegen 1.jpg",
        images: [
            "/Universitat Siegen/Universitat Siegen 1.jpg",
            "/Universitat Siegen/Universitat Siegen 2.jpg",
            "/Universitat Siegen/Universitat Siegen 3.jpg",
            "/Universitat Siegen/Universitat Siegen 4.jpg",
            "/Universitat Siegen/Universitat Siegen 5.jpg",
        ],
    },
    {
        id: 13,
        title: "Wuppertaler Hauptbahnhof",
        year: "2020",
        city: "Berlin",
        slug: "wuppertaler-hauptbahnhof",
        category: t("referencie.info.category1"),
        img: "/Wuppertaler Hauptbahnhof/Wuppertaler Hauptbahnhof 1.jpg",
        images: [
            "/Wuppertaler Hauptbahnhof/Wuppertaler Hauptbahnhof 1.jpg",
            "/Wuppertaler Hauptbahnhof/Wuppertaler Hauptbahnhof 2.jpg",
            "/Wuppertaler Hauptbahnhof/Wuppertaler Hauptbahnhof 3.jpg",
        ],
    },
];
---

<Layout title={t("referencie.site.title")} style="secondary">
	<Hero
		img="/hero-projects.jpg"
		title={t("referencie.hero.title")}
		subtitle={t("referencie.hero.subtitle")}
		content1={t("referencie.hero.content1")}
		content2={t("referencie.hero.content2")}
	/>
	<section class="section">
		<Divider title={t("referencie.info.devider")} />
		<div class="container">
			<ReferenceCard
				title={referenceData[0].title}
				year={referenceData[0].year}
				city={referenceData[0].city}
				slug={referenceData[0].slug}
				category={referenceData[0].category}
				img={referenceData[0].img}
			/>
			<ReferenceCard
				title={referenceData[1].title}
				year={referenceData[1].year}
				city={referenceData[1].city}
				slug={referenceData[1].slug}
				category={referenceData[1].category}
				img={referenceData[1].img}
			/>
			<ReferenceCard
				title={referenceData[2].title}
				year={referenceData[2].year}
				city={referenceData[2].city}
				slug={referenceData[2].slug}
				category={referenceData[2].category}
				img={referenceData[2].img}
			/>
			<ReferenceCard
				title={referenceData[3].title}
				year={referenceData[3].year}
				city={referenceData[3].city}
				slug={referenceData[3].slug}
				category={referenceData[3].category}
				img={referenceData[3].img}
			/>
			<ReferenceCard
				title={referenceData[4].title}
				year={referenceData[4].year}
				city={referenceData[4].city}
				slug={referenceData[4].slug}
				category={referenceData[4].category}
				img={referenceData[4].img}
			/>
			<ReferenceCard
				title={referenceData[5].title}
				year={referenceData[5].year}
				city={referenceData[5].city}
				slug={referenceData[5].slug}
				category={referenceData[5].category}
				img={referenceData[5].img}
			/>
			<ReferenceCard
				title={referenceData[6].title}
				year={referenceData[6].year}
				city={referenceData[6].city}
				slug={referenceData[6].slug}
				category={referenceData[6].category}
				img={referenceData[6].img}
			/>
			<ReferenceCard
				title={referenceData[7].title}
				year={referenceData[7].year}
				city={referenceData[7].city}
				slug={referenceData[7].slug}
				category={referenceData[7].category}
				img={referenceData[7].img}
			/>
			<ReferenceCard
				title={referenceData[8].title}
				year={referenceData[8].year}
				city={referenceData[8].city}
				slug={referenceData[8].slug}
				category={referenceData[8].category}
				img={referenceData[8].img}
			/>
			<ReferenceCard
				title={referenceData[9].title}
				year={referenceData[9].year}
				city={referenceData[9].city}
				slug={referenceData[9].slug}
				category={referenceData[9].category}
				img={referenceData[9].img}
			/>
			<ReferenceCard
				title={referenceData[10].title}
				year={referenceData[10].year}
				city={referenceData[10].city}
				slug={referenceData[10].slug}
				category={referenceData[10].category}
				img={referenceData[10].img}
			/>
			<ReferenceCard
				title={referenceData[11].title}
				year={referenceData[11].year}
				city={referenceData[11].city}
				slug={referenceData[11].slug}
				category={referenceData[11].category}
				img={referenceData[11].img}
			/>
			<ReferenceCard
				title={referenceData[12].title}
				year={referenceData[12].year}
				city={referenceData[12].city}
				slug={referenceData[12].slug}
				category={referenceData[12].category}
				img={referenceData[12].img}
			/>
			<!-- {
				referenceData.map((reference) => (
					<ReferenceCard
						key={reference.id}
						title={reference.title}
						year={reference.year}
						city={reference.city}
						slug={reference.slug}
						category={reference.category}
						img={reference.img}
					/>
				))
			} -->
		</div>
	</section>
</Layout>

<style>
	.section {
		margin: 80px auto;
		max-width: 1440px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 1rem;
	}
	.container {
		max-width: 1440px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		margin: auto;
		margin-bottom: 120px;
	}
	@media screen and (min-width: 768px) {
		.section {
			padding: 0 2rem;
		}
		.container {
			display: grid;
			align-content: center;
			gap: 2rem;
			align-items: center;
			justify-content: center;
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>
